<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head.html'); -%>
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/pagar.js"></script>
    <!-- <script src="/bootstrap/dist/js/bootstrap.js"></script> -->
    <title>Document</title>
</head>

<body>
    <script>
        var numerodecompra = "<%= reserva.purchasenumber%>"
        var reserva = "<%= reserva.object.transactionToken %>";

        generateAuthorization(reserva, numerodecompra);
        ;</script>
    <img src="" alt="" width="100%">
</body>


</html>