<footer>
    <div class="row ml-0 mr-0" id="footer">
        <div class="col-md-4 row">
            <a href="" class="redes-link" style="background: #3b5998 ;">
                <i class="fab fa-facebook-f fa-1x"></i>
            </a>
            <a href="" class="redes-link" style="background: #00acee ;">
                <i class="fab fa-twitter fa-1x"></i>
            </a>
            <a href="" class="redes-link" style="background: #db4a39;">
                <i class="fab fa-google-plus-g fa-1x"></i>
            </a>
            <a href="" class="redes-link" style="background: #E1306C;">
                <i class="fab fa-instagram fa-1x""></i>
            </a>
        </div>
        <div class=" col-md-4 text-center">
                    <img src="../img/tsconfig.png" alt="" width="182px" height="50px">
        </div>
        <div class="col-md-4 text-center">
            <img src="../img/AER.png" alt="">
        </div>
    </div>
</footer>